* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #3af78f;
}

body.active {
  background-color: #f43648;
}

.container {
  width: 800px;
  height: 500px;
  padding: 40px 0;
  position: relative;
}

.block {
  height: 100%;
  background-color: rgb(88, 88, 88);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
}

.block__item {
  width: 50%;
}

.block-item {
  text-align: center;
}

.block-item__titile {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.block-item__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.form-box {
  background-color: #fff;
  height: 100%;
  width: 50%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;

  overflow: hidden;
}

.form-box.active {
  left: 50%;
}

.form {
  width: 100%;
  padding: 50px;
  font-size: 16px;

  position: absolute;
  transition: 0.3s;
}

.form__signin {
  left: 0;
  transition-delay: 0.25s;
}

.form__signup {
  left: 100%;
  transition-delay: 0s;
}

.form-box.active .form__signin {
  left: -100%;
  transition-delay: 0s;
}

.form-box.active .form__signup {
  left: 0;
  transition-delay: 0.25s;
}

.form__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: solid 1px #333;
  font-size: inherit;
}

.form__btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: #3af78f;
  color: #fff;
  padding: 10px 50px;
}

.form__btn-signup {
  background-color: #f43648;
}

.form__forgot {
  color: #333;
}
